drop database if exists sistemahotelero;
create database sistemahotelero;
use sistemahotelero; 

create table roles(
   id_rol int auto_increment primary key,
   nombre_rol varchar(100) unique
);

create table clientes (
    id_cliente int auto_increment primary key,
    nombre varchar(50) not null,
    ap varchar(50) not null,
    am varchar(50) not null,
    email varchar(100) unique not null,
    telefono varchar(15) not null
);

CREATE TABLE empleados (
    id_empleado int AUTO_INCREMENT primary key,
    nombre varchar(50) not null,
    ap varchar(50) not null,
    am varchar(50) not null,
    telefono varchar(15),
    email varchar(100) unique
);


create table usuarios (
   id_usuario int auto_increment primary key,
   username varchar(50) unique,
   contrasena varchar(255),
   id_rol int,
   id_cliente int,
   id_empleado int,
   foreign key(id_rol) references roles(id_rol),
   foreign key(id_cliente) references clientes(id_cliente),
   foreign key(id_empleado) references empleados(id_empleado)
);


create table tipos_habitacion (
    id_tipo int auto_increment primary key,
    nombre_tipo varchar(50) not null,
    precio_base decimal(10,2) not null check(precio_base > 0)
);

create table habitaciones (
    id_habitacion int auto_increment primary key,
    numero_habitacion varchar(10) unique not null,
    id_tipo int not null,
    estado varchar(20) default 'disponible',
    foreign key (id_tipo) references tipos_habitacion(id_tipo) on delete restrict
);

create table servicios (
    id_servicio int auto_increment primary key,
    nombre_servicio varchar(100) not null,
    precio decimal(10,2) not null check(precio > 0)
);

create table reservas (
    id_reserva int auto_increment primary key,
    id_cliente int not null,
    fecha_registro datetime default current_timestamp,
    estado varchar(20) default 'activa',
    foreign key (id_cliente) references clientes(id_cliente) on delete cascade
);

create table detalle_reservas (
    id_detalle int auto_increment primary key,
    id_reserva int not null,
    id_habitacion int not null,
    fecha_inicio date not null,
    fecha_fin date not null,
    foreign key (id_reserva) references reservas(id_reserva) on delete cascade,
    foreign key (id_habitacion) references habitaciones(id_habitacion) on delete cascade
);

create table consumos_servicios (
    id_consumo int auto_increment primary key,
    id_reserva int not null,
    id_servicio int not null,
    cantidad int not null default 1,
    fecha_consumo datetime default current_timestamp,
    foreign key (id_reserva) references reservas(id_reserva) on delete cascade,
    foreign key (id_servicio) references servicios(id_servicio) on delete cascade
);

create table pagos (
    id_pago int auto_increment primary key,
    id_reserva int not null,
    monto decimal(10,2) not null check(monto > 0),
    fecha_pago datetime default current_timestamp,
    metodo_pago varchar(50) not null,
    foreign key (id_reserva) references reservas(id_reserva) on delete cascade
);

insert into roles (nombre_rol) values
('admin'),
('recepcionista'),
('cliente');






insert into habitaciones (numero_habitacion, id_tipo, estado) values
('101', 1, 'disponible'), ('102', 2, 'ocupada'), ('103', 3, 'disponible'), ('104', 4, 'mantenimiento'),
('105', 5, 'disponible'), ('106', 6, 'ocupada'), ('201', 7, 'disponible'), ('202', 8, 'disponible'),
('203', 9, 'ocupada'), ('204', 10, 'disponible'), ('301', 11, 'disponible'), ('302', 12, 'ocupada'),
('303', 13, 'disponible'), ('304', 14, 'mantenimiento'), ('401', 15, 'disponible'), ('402', 16, 'ocupada'),
('403', 17, 'disponible'), ('404', 18, 'disponible'), ('501', 19, 'ocupada'), ('502', 20, 'disponible');






